/* .svg_hover_wrapper {
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
}
#btn {
    stroke-width: 6px;
    fill: transparent;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: all 1s ease;
}
#btn-text {
    width: 150px;
    height: 40px;
    margin-top: -40px;
    text-align: center;

}
#btn-text a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
.svg_hover_wrapper:hover #btn {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #007eff;
} */

.svg_hover_wrapper {
    position: relative;
    width: 180px;
    height: 50px;
    display: inline-block;
    border-radius: 3px;
}

#btn {
    stroke-width: 6px;
    fill: transparent;
    stroke: #FFF;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -275;
    transition: 1s all ease;
}

#btn-text {
    width: 180px;
    height: 50px;
    margin-top: -50px;
}

#btn-text a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.svg_hover_wrapper:hover #btn {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #007eff;
}

html .activeLink #btn {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #007eff;
}

.svg_hover_wrapper:active #btn {
    stroke-dasharray: 500;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #007eff;
}

.svg_hover_wrapper #btn-text {
    transition: 0.3s;
}

.svg_hover_wrapper:hover #btn-text {
    transform: scale(1.05);
}

/*svg letter css*/

#SvgLetter > text {
    fill: none;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 1.2rem;
}

.dark .svg_hover_wrapper:hover #textSvgletter, .dark .activeLink #textSvgletter {
    animation: fillTextDark 0.5s ease forwards;
}

@keyframes fillTextDark {
    from {
        fill: transparent;
    }
    to {
        fill: #046daa;
    }
}

.light .svg_hover_wrapper:hover #textSvgletter, .light .activeLink #textSvgletter {
    animation: fillTextLight 0.5s ease forwards;
}

@keyframes fillTextLight {
    from {
        fill: transparent;
    }
    to {
        fill: #046daa;
    }
}

