/* .svg_hover_wrapper {
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
}
#btn {
    stroke-width: 6px;
    fill: transparent;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: all 1s ease;
}
#btn-text {
    width: 150px;
    height: 40px;
    margin-top: -40px;
    text-align: center;
    
}
#btn-text a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
.svg_hover_wrapper:hover #btn {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #007eff;
} */

.svg_hover_wrapper {
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
}
#btn {
    stroke-width: 6px;
    fill: transparent;
    stroke: #FFF;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}
#btn-text {
    width: 150px;
    height: 40px;
    margin-top: -40px;
}
#btn-text a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
.svg_hover_wrapper:hover #btn {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #007eff;
}
.svg_hover_wrapper:hover #btn-text {
    transform: scale(1.1);
}

/*svg letter css*/

#SvgLetter > text {
    fill: none;
    text-anchor: middle;
    dominant-baseline: central;
}
.svg_hover_wrapper:hover #textSvgletter{
    animation: fillText 0.5s ease forwards;
}

@keyframes fillText 
{
    from {
        fill:transparent;
    }
    to {
        fill: #046daa;
    }
}

