.containerUL {
    height: 100%;
    z-index: 10;
}

.langUi {
    list-style-type: none;
    border-right: 4px solid var(--main-blue);
    overflow: hidden;
    height: 0rem;
    width: 100px;
    margin-bottom: 0;
    z-index: 10;
    min-width: 100px;
    transition: height 0.4s;
}

html .containerUL:hover .langUi {
    overflow: unset;
    height: calc(100% - 2rem);
    overflow: auto;
    border-right: 4px solid var(--main-green);
}

.langUi > li {
    opacity: 0.8;
    height: 2rem;
    transition: opacity 0.35s;
    scroll-snap-align: start;
}

html .hoverLang {
    opacity: 0.7;
    transition: box-shadow 0.35s;
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
}

html .hoverLang:hover {
    opacity: 1;
    box-shadow: inset 0px -10px #75d32d6b;
    font-weight: 600;
}

html .activeUl {
    opacity: 1;
    font-weight: bolder;
    box-shadow: inset 0px 2rem var(--main-blue);
    transition: box-shadow 0.35s;
    margin: 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    height: 2rem;
}

/*.overLangUiEnter {*/
/*    animation: grow 0.4s ease-out forwards;*/
/*}*/

/*.overLangUiLeave {*/
/*    animation: toDefault 0.4s ease-out forwards;*/
/*}*/

/*@keyframes grow {*/
/*    from {*/
/*        overflow: hidden;*/
/*        height: 2rem;*/
/*        border-right: 4px solid #2196F3;*/
/*    }*/
/*    to {*/
/*        overflow: unset;*/
/*        height: 4rem;*/
/*        border-right: 4px solid #74d32c;*/
/*    }*/
/*}*/

/*@keyframes toDefault {*/
/*    from {*/
/*        overflow: unset;*/
/*        height: 4rem;*/
/*        border-right: 4px solid #74d32c;*/
/*    }*/
/*    to {*/
/*        overflow: hidden;*/
/*        height: 2rem;*/
/*        border-right: 4px solid #2196F3;*/
/*    }*/
/*}*/